
textarea,mat-form-field{
    width:100%;
}
mat-spinner{
    margin:auto;
}
input[type="file"]{
visibility: hidden;
}
.image-preview{
    // height: 100%;
    height:10rem;
    // height:auto;
    // width:100%;
    margin:1rem 0;
}
.image-preview>img{
    height:100%;
    // width:100%;
}